@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <button><a asp-action="Index" asp-controller="Students">Listado Estudiante</a></button>
</div>

<h1 id="titulo"></h1>

<form>
    <input type="hidden" id="Id" name="id" />

    <div>
        <label for="batch">Batch</label>
        <input type="text" id="batch" name="batch" minlength="5" maxlength="10" required />
    </div>

    <div>
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" minlength="2" maxlength="40" required />
    </div>

    <div>
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" minlength="2" maxlength="40" required />
    </div>

    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" minlength="5" maxlength="150" required />
    </div>

    <div>
        <label for="email">BirthDate</label>
        <input type="date" id="BirthDate" name="BirthDate" value="1900-01-01" min="1900-01-01" max="2100-01-01" />
    </div>

    <div>
        <label for="phone">Phone</label>
        <input type="text" id="phoneNumber" name="phone" minlength="8" maxlength="15" />
    </div>
    <!--BTN CREAR-->
    <div>
        <button id="btnUpdate" type="submit">Update</button>
    </div>
</form>



<script>
    window.addEventListener("DOMContentLoaded", async (event) => {
        //cogeer el id desde la url
        const urlParams = new URLSearchParams(window.location.search);
        const batch = urlParams.get('batch');

        //cargar el estudiantes
        const students = await fetch("https://localhost:44302/api/students/" + batch, {
            "method": "GET",
            "mode": "cors",
            "cache": "no-cache",
            "headers": {
                "Content-Type": "application/json"
            }
        })
            .then((response) => response.json())
            .catch((error) => { console.log(error); });

        if (students != null) {
            document.getElementById("titulo").innerText = `Editando estudiante: ${students.firstName} ${students.lastName}`;
            document.getElementById("Id").value = students.id;
            document.getElementById("batch").value = students.batch;
            document.getElementById("firstName").value = students.firstName;
            document.getElementById("lastName").value = students.lastName;
            document.getElementById("email").value = students.email;
            document.getElementById("phoneNumber").value = students.phoneNumber;

            const fechaNacimientoFormateada = new Date(students.birthDate).toISOString().split('T')[0];

            document.getElementById("BirthDate").value = fechaNacimientoFormateada;
        }
        
        //boton de actualizar

        const btnUpdate = document.querySelectorAll("#btnUpdate");
        btnUpdate.forEach(btn => {
            btn.addEventListener("click", async (event) => {

                const data = {
                    "id": document.getElementById("Id").value,
                    "batch": document.getElementById("batch").value,
                    "firstName": document.getElementById("firstName").value,
                    "lastName": document.getElementById("lastName").value,
                    "birthDate": document.getElementById("BirthDate").value,
                    "email": document.getElementById("email").value,
                    "phoneNumber": document.getElementById("phoneNumber").value
                };

                const response = await fetch("https://localhost:44302/api/students/", {
                    "method": "PUT",
                    "mode": "cors",
                    "cache": "no-cache",
                    "body": JSON.stringify(data),
                    "headers": {
                        "Content-Type": "application/json"
                    },
                });

                if (response.ok) {
                    alert("Estudiante actualizado correctamente")
                    window.location.href = "/Students/Index";
                } else {
                    alert("Error al actualizar el estudiante")
                }
            });
        });//fin btnUpdate
    });
</script>
